<form id="new-nickname">
  <input type="text" class="form-control new" name="name">
  <button type="submit" id="update-nickname" class="btn btn-primary btn-xs black-background">Update</button>
</form>
