<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="sound_trek_marker.png" type="image/png"/>

    <title>SoundTreks</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_secret'] %>"></script>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>
    <div/>

    <div class="container">

        <h1 id="start-header" text-align="center" class="form-signin-heading text-muted">SoundTreks</h1>

        <p id="tag-line">Soundtracks for your adventures.</p>

        <img id="start-logo" class="center-block" src="sound_trek_marker.png">

        <form id="start-form" class="form-signin" action="/auth/spotify" method="GET">
          <button id="start-login-button" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>


    </div>
  </body>

