<h1 id="profile-name">Your Profile, <%= current_user.nick_name %></h1>

<button id="<%= @user.id %>"type="button" class="btn btn-primary btn-xs black-background edit-nickname">Change nickname</button>


<div id="form-for-nickname">

</div>

<h2>Your SoundTreks:</h2>

<div>
<ul>
  <% @user.sound_treks.each do |sound_trek|%>
  <li><%= link_to sound_trek.title, sound_trek_path(sound_trek) %></li>
  <% end %>
</ul>
</div>
