<div id="map"></div>

<div align="center">
  <div id="geolocate-errors" class="errors"></div>
  <%= link_to "<button>Create SoundTrek</button>".html_safe, "locations#create", id: "create-sound-trek"  %>
</div>

<div id="new-sound-trek-container">
</div>
