<h1>SoundTreks</h1>

<div id="map"></div>

<div>
  <div id="geolocate-errors" class="errors"></div>
  <%= link_to "Create SoundTrek", "locations#create", id: "create-sound-trek"  %>
</div>

<div id="new-sound-trek-form">
</div>
