<div class="text-center">
  <h3>Explore Trekker</h3>
</div>
<div id="map"></div>

<div class="show-soundtrek-flash-message"><%= flash[:no_show_access] %></div><br>

<div class="show-soundtrek-flash-message"><%= flash[:no_access_create] %></div><br>

<% if logged_in? %>
  <div>
    <div id="geolocate-errors" "create-soundtrek-button" class="errors"></div>
    <%= link_to "Create SoundTrek", "sound_treks#new", id: "create-sound-trek"  %>
  </div>
<% end %>

<div id="new-sound-trek-container">
</div>

