<h1 class="how-it-works" id="how-it-works-main-header">How It Works</h1>
<h2 class="how-it-works" id="tag-line-how-it-works">Explore the World Through Music</h2>

<div>
  <p class="how-it-works">Discover a new corner of the world with the perfect playlist. Sign in with Spotify to start leaving your musical footprint. Uncover SoundTreks around you and take a listen to what others are trekking to.
</p>
  <h3 class="how-it-works">How to Get Started</h3>
  <ul class="how-it-works">
    <li>Make a playlist on Spotify for your upcoming trek.</li>
    <li>Hit the road and create a SoundTrek with your playlist for others to find.</li>
    <li>Discover SoundTreks left behind by your fellow trekkers.</li>
  </ul>
</div>
