<h1>How It Works</h1>
<h2>Explore the World Through Music</h2>

<div>
  <p>Discover a new corner of the world with the perfect playlist. Sign in with Spotify to start leaving your musical footprint. Uncover SoundTreks around you and take a listen to what others are trekking to.
</p>
  <h3>How to Get Started</h3>
  <ul>
    <li>Make a playlist on Spotify for your upcoming trek.</li>
    <li>Hit the road and create a SoundTrek with your playlist for others to find.</li>
    <li>Discover SoundTreks left behind by your fellow trekkers.</li>
  </ul>
</div>
