/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  background-color: #fcfbf7;
  font-family: 'Raleway', sans-serif;
}

.btn {
  max-width:280px;
  padding:15px;
  margin:0 auto;
  margin-top:50px;
}

.black-background {
  background-color:black;
}

.new-link {
  color: white;
}

.new-link:hover {
  display: #337ab7;
}

.form-group {
  max-width:280px;
  padding:15px;
  margin:0 auto;
  margin-top:50px;
}

.edit-nickname {
  position: relative;
  bottom: 50px;
  background-color: black;
}

.new {
  max-width:180px;
  padding:15px;
  bottom: 350px;
  background-color: black;
}

.show-data {
  text-align: center;
}

.options-nav {
  .text-align: center;
}

.navbar-inverse {
  background-image: none;
/*  background-color: #62D2A2;
*/  background-color: #1FAB89;
    border-color: #62D2A2

}

.navbar-inverse .navbar-nav > li > a {
  color: #fcfbf7;
}

.navbar-inverse .navbar-toggle {
  border-color: #fcfbf7;
}

.navbar-inverse .navbar-brand  {
  color: #fcfbf7;
}

.navbar-inverse .navbar-toggle span .icone-bar :active:focus {
  color: white;
  box-shadow: none;
  border-color: white;
  background-color: white;
}

.btn-primary {
  background-image: none;
  border-color: #EBF7FD;
  background-color: #1FAB89;
  color: white;
}

.btn-primary:active {
  background: white;
}

.form-signin-heading {
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.edit {
  font-size: 10px;
  padding: 7px 7px;
}

.update {
  font-size: 10px;
  padding: 7px 7px;
}

#welcome-message {
  margin-bottom: 20px;
}

#welcome-message, h2 {
  font-size: 1.25em;
}

h1#start-header {
  margin-top: 15%;
  font-size: 4em;
  font-weight: 900;
}

p#tag-line {
  text-align: center;
  font-style: italic;
}

img#start-logo {
  margin-top: 25%;
  width: 45%;
}

form#start-form {
  margin-top: 25%;
}

button#start-login-button {
  margin-bottom: 3%;
}

h1#show-trek-title{
  font-size: 2em;
  font-weight: 900;
  margin-bottom: -2%;
}

h2#show-trek-nick-name{
  font-size: 1em;
  font-weight: 900;
  text-align: left;
  margin-left: 10%;
  margin-bottom: -3%;
}

h3#show-trek-address{
  font-size: 1em;
  font-weight: 900;
  text-align: left;
  margin-left: 10%;
  margin-bottom: -3%;
}

h3#show-trek-created-at{
  font-size: 1em;
  font-weight: 900;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 5%;
}

h3#show-trek-rating{
  font-size: 1.5em;
  font-weight: 900;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 5%;
  margin-top: -4%;
}

div#trek-not-rated{
  text-align: left;
  margin-left: 10%;
  margin-top: -3%;
}

h3#show-sound-trek-description{
  text-align: left;
  margin-left: 10%;
  margin-top: -15%;
}

div#show-sound-trek-desc-text{
  text-align: left;
  margin-left: 10%;
  margin-top: -2%;
}

div#edit-soundtreks{
  display: inline-block;
  margin-right: 10%;
  font-weight: 900;
  margin-top: 3%;
}

div#delete-soundtreks{
  display: inline-block;
  margin-left: 10%;
  font-weight: 900;
  margin-top: 3%;
}

div#edit-delete-buttons{
  display: flex;
  justify-content: center;
}
